//Fonts
$font-default: 'Roboto Condensed', sans-serif;

//Theme
$first: #0f1140;
$first-hover: #15197d;
$second: #a42038;
$second-hover: #c32140;

//Colors
$black: #333333;
$white: #fcfcfc;


$red: #cc0800;
$red-hover: #ae0700;
$light-red: rgba(204, 8, 0, 0.1);
$green: #6ea023;
$light-green: #ecf3e5;