* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100vh;
    width: 100%;
    font-family: $font-default;
    font-size: 16px;
    color: $black;
    background: $white;
    line-height: 1.5;
}

body {
    a {
        color: $first;
        text-decoration: none;
        @include transition(all 0.5s ease-out);
        &:focus, &:hover {
            text-decoration: none;
        }
    }
    ul,
    ol {
        list-style: none;
    }
    button, .btn {
        @include transition(all 0.5s ease-out);
    }
}

.no-gutters {
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 20px 10px;
    p {
        margin: 0;
        text-align: left;
        font-size: 16px;
        color: $first;
        line-height: 1.5;
        &.pink {
            color: $second;
        }
    }
    a {
        color: $first;
        &:hover {
            opacity: 0.75;
        }
    }
}

#app {
    height: 100vh;
    width: 100%;
    > div {
        height: 100vh;
        width: 100%;
        overflow: auto;
    }
    .notifications {
        padding-top: 5px;
        .notification-wrapper {
            overflow: inherit;
            .vue-notification {
                background: $light-green;
                border-left: 5px solid $green;
                color: $black;
                @include box-shadow(0px 0px 40px 0px rgba(0, 0, 0, 0.25));
            }
        }
    }
}

.home {
    background: $white;
    .main {
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -175px 0 0 -250px;
        animation: animation-opacity 3s ease-out 0s 1;
        .logo {
            display: block;
            width: 300px;
            height: 150px;
            background: url("/images/panorama.png") no-repeat;
            background-size: cover;
            margin: 0 auto;
        }
        .form-group {
            margin: 52px 0 0;
        }
        input {
            display: inline-block;
            vertical-align: middle;
            border: 1px solid $first;
            width: 190px;
            margin: 0 10px 0 0;
        }
        button, .btn {
            display: inline-block;
            vertical-align: middle;
            border: 1px solid $second-hover;
            background: $second;
            width: 100px;
            text-transform: lowercase;
            font-size: 16px;
            padding: 5px 0 7px;
            position: relative;

            &:hover {
                background: $second-hover;
            }

            .fa-spin {
                position: absolute;
                display: inline-block;
                margin: 0;
                top: 10px;
                right: -35px;
                left: auto;
                color:  $second-hover;
            }
        }
    }
}

.frontend-container {
    h1 {
        margin: 0 auto;
        text-align: center;
    }
    .content {
        padding: 20px 0;
    }
    .grid-data {
        margin: 40px 0 0;
        .row-header, .row-footer {
            .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
                padding: 20px 10px;
                font-weight: 700;
                text-align: center;
                background: $gray-100;
                border: 1px solid $gray-200;
                border-right: none;
                &:last-child {
                    border-right: 1px solid $gray-200;
                }
            }
        }
        .row-body {
            .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12 {
                padding: 10px;
                border: 1px solid $gray-200;
                border-right: none;
                border-bottom: none;
                &:last-child {
                    border-right: 1px solid $gray-200;
                }
            }
            &:hover {
                .actions {
                    opacity: 1;
                    @include transition(opacity 0.1s ease-out);
                }
            }
        }
        label {
            display: block;
            line-height: 1;
            font-size: 12px;
            &.title {
                font-size: 14px;
                margin: 0 0 20px 0;
            }
            &.description {
                font-style: italic;
            }
        }
        p {
            margin-bottom: 8px;
        }
    }
}

.login {
    overflow: hidden;
    height: 100vh;
    position: relative;
    background: $white;
    background: url('/sass/images/background.jpg') no-repeat;
    background-attachment: fixed;
    color: $white;
    @include background-size(cover);

    &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background: rgba(22, 65, 148, 0.6);
    }

    .cst-login-form {
        margin: 150px auto;
        padding: 50px;
        width: 450px;
        position: relative;
        z-index: 2;
        overflow: hidden;
        border: 1px solid $first;

        input {
            margin-bottom: 20px;
            @include border-radius(0);
        }

        button, .btn {
            background: $white;
            color: $black;
            @include border-radius(0);
        }

        .content {
            position: relative;
            z-index: 2;
        }

        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(22, 65, 148, 0.8);
        }

        &:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: $white;
            background: url('/sass/images/background.jpg') no-repeat;
            background-attachment: fixed;
            filter: blur(4px);
            @include background-size(cover);
        }
    }

    .version {
        position: fixed;
        bottom: 10px;
        right: 16px;
        color: #ffffff;
    }
}

.geom-data {

    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;

    .geom-data-list {
        position: absolute;
        bottom: 0;
        right: 0;
        height: 100vh;
        width: 350px;
        background: $white;
        overflow: auto;
        @include box-shadow(0px 0px 50px rgba(0, 0, 0, 0.25));

        h2 {
            font-size: 18px;
            padding: 10px 20px;
            box-sizing: border-box;
            background: $second;
            color: $white;
            font-weight: 100;
            margin: 0 0 1px;
        }

        .btn-search-mode {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 14px;
            color: $white;
            width: 40px;
            height: 40px;
            background: none;
            border: none;
            cursor: pointer;
            &:hover {
                color: $first;
            }
        }

        .search-container {
            position: relative;
            .elements-search {
                width: 100%;
                padding: 10px 68px 10px 20px;
                border: none;
            }
            .elements-search-button {
                position: absolute;
                top: 42px;
                right: 0px;
                width: 42px;
                height: 42px;
                border: none;
                background: $first;
                color: $white;
                cursor: pointer;
                display: none;
            }
            .search-form {
                max-height: 0;
                overflow: hidden;
                &.open {
                    max-height: 44px;
                    .elements-search-button {
                        display: block;
                    }
                }
            }
        }
        .layers-list {
            overflow: hidden;
            li {
                /* min-height: 42px; */
                font-size: 14px;
                box-sizing: border-box;
                position: relative;
                span {
                    display: block;
                    width: 100%;
                    padding: 10px 20px;
                    white-space: nowrap;
                    @include transition(background 0.5s ease-out);
                    &.editor {
                        background: $gray-200;
                        padding: 20px 20px 20px 48px;
                        .btn-checked {
                            margin: 1px 10px 0 0;
                        }
                    }
                    &:hover {
                        background: $gray-200;
                        .btn-geom-list {
                            color: $gray-400;
                            &:hover {
                                color: $second;
                            }
                        }
                    }
                    &.selected {
                        background: $gray-300;
                        &:hover {
                            background: $gray-400;
                        }
                    }
                }
                &.empty {
                    span {
                        &:hover {
                            @include transition(all 0.5s ease-out);
                            background: none;
                        }
                        & > label {
                            opacity: .25;
                        }
                    }
                    .btn-checked {
                        opacity: .25;
                    }
                }
                .layer-item-content {
                    position: relative;
                    height: 45px;
                    display: block;
                    .btn {
                        position: absolute;
                        top: 0;
                        width: 30px;
                        height: 45px;
                        background: none;
                        border: none;
                        cursor: pointer;
                        padding: 15px 0;
                        text-align: center;
                        margin: 0;
                        i {
                            margin: 0;
                            font-size: 15px;
                            width: 15px;
                            height: 15px;
                            text-align: center;
                            line-height: 1;
                        }
                        &.btn-add-element {
                            right: 30px;
                        }
                    }
                    .layer-item-hidden {
                        right: 0;
                        padding: 12px 0;
                    }
                }
            }
            label {
                font-weight: 100;
                vertical-align: middle;
                display: inline-block;
                margin: 0;
                &.warning {
                    color: $red;
                }
            }
            .btn-checked {
                width: 16px;
                height: 16px;
                background: none;
                border: 1px solid $second;
                margin: 5px 10px 0 0;
                vertical-align: top;
                position: relative;
                cursor: pointer;
                display: inline-block;
                &:hover {
                    border: 1px solid $second-hover;
                }
                &[disabled="disabled"] {
                    cursor: default;
                    &:hover {
                        border: 1px solid $second;
                    }
                }
                &:after {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 6px;
                    height: 6px;
                    margin: -3px 0 0 -3px;
                    background: $second;
                    display: none;
                }
                &.checked:after {
                    display: block;
                }
            }
            .fa-exclamation-triangle {
                margin: 4px 10px 0 0;
                vertical-align: top;
                position: relative;
                cursor: pointer;
                display: inline-block;
                color: $red;
                font-size: 14px;
            }
        }

        .elements-list {
            li {
                span {
                    padding: 4px 20px 3px 40px;
                }
            }
            .element-item {
                label {
                    cursor: pointer;
                }
            }
        }

        .element-geometries-list {
            margin: 0 0 0 -24px;
            .element-geometry-item {
                margin: 0 0 10px;
                position: relative;

            }
            .geometry-geom {
                display: inline-block;
                vertical-align: top;
                margin: 0 -24px 0 0;
                width: 24px;
                height: 24px;
                background: none;
                border: none;
                cursor: pointer;
                position: relative;
                z-index: 1;
                i {
                    color: $first;
                    cursor: pointer;
                    vertical-align: top;
                    line-height: 1.8;
                }
                &.empty {
                    i {
                        color: $red;
                    }
                }
                &:hover {
                    i {
                        color: $first-hover;
                    }
                    &.empty {
                        i {
                            color: $red-hover;
                        }
                    }
                }
            }
            .geometry-title {
                display: inline-block;
                vertical-align: top;
                width: 100%;
                padding: 0 24px;
                &.empty {
                    input {
                        background: $light-red;
                        border-color: $red;
                    }
                }
            }
            .btn-remove-geometry {
                display: inline-block;
                vertical-align: top;
                background: none;
                border: none;
                margin: 0 0 0 -24px;
                width: 24px;
                height: 24px;
                position: relative;
                cursor: pointer;
                z-index: 1;
                i {
                    position: relative;
                    font-size: 10px;
                    line-height: 2;
                    top: auto;
                    left: auto;
                    vertical-align: top;
                    color: $red;
                }
            }
        }
    }

    &.manager {
        .geom-data-list {
            width: 400px;
        }
        span {
            .btn-action {
                position: absolute;
                top: 0;
                right: 0;
                font-size: 12px;
                line-height: 1;
                height: 30px;
                width: 30px;
                background: $white;
                border: none;
                color: $gray-200;
                cursor: pointer;
                &.btn-edit {
                    right: 30px;
                }
                &.btn-add-element {
                    font-size: 16px;
                    margin: 0 30px 0 0;
                    &.empty {
                        margin: 0;
                    }
                }
            }
            &:hover {
                .btn-action {
                    background: $gray-200;
                    color: $gray-400;
                    &:hover {
                        color: $second;
                    }
                }
            }
        }
        .single-element {
            display: inline-block;
            margin-top: -2px;
            width: 295px;
            text-align: right;
            h3 {
                font-size: 14px;
                margin: 20px 0 10px;
                padding: 0;
                width: 100%;
                text-align: left;
                position: relative;
            }
            input {
                border: 1px solid $gray-400;
                width: 100%;
                padding: 0 25px 1px 5px;
            }
            textarea {
                display: block;
                margin: 10px 0 0 0;
                resize: none;
                width: 100%;
                height: 86px;
                border: 1px solid #ced4da;
                padding: 0 25px 0 5px;
            }
        }
        .element-geometries-container {
            padding: 0 !important;
        }
        .btn-edit-save {
            margin: 10px 0 0 10px;
            background: none;
            border: none;
            cursor: pointer;
            label {
                text-decoration: underline;
                cursor: pointer;
                color: $first;
            }
            &.btn-danger {
                label {
                    color: $red;
                }
            }
        }
        .add-geometry-container {
            display: inline-block;
            vertical-align: top;
            padding: 0 24px 0 0;
            width: 100%;
            select {
                width: 100%;
                padding: 0 0 1px 0;
            }
        }
        .btn-add-geometry {
            border: none;
            background: none;
            cursor: pointer;
            width: 24px;
            height: 24px;
            margin: 0 0 0 -24px;
            display: inline-block;
            vertical-align: top;
            color: $second;
            &:hover {
                color: $first;
            }
        }
    }

    #mouse-position {
        position: absolute;
        top: 10px;
        right: 315px;
        font-size: 12px;
    }

    #current-zoom {
        position: absolute;
        top: 140px;
        left: 10px;
        font-size: 12px;
        width: 32px;
        text-align: center;
    }

    #map {

        width: 100%;
        height: 100vh;
        position: relative;

        .ol-control {
            position: absolute;

            &.ol-attribution {
                bottom: 0;
                right: 0;

                ul {
                    margin: 0;
                    font-size: 12px;
                }

                button, .btn {
                    display: none;
                }
            }

            &.ol-zoom {
                top: 52px;
                left: 10px;

                button, .btn {
                    background: $second;
                    color: $white;
                    border: 1px solid $second-hover;
                    width: 32px;
                    height: 32px;
                    display: block;
                    margin: 0 0 10px;
                    cursor: pointer;
                    @include border-radius(50%);
                    @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1));
                    &:hover {
                        background: $second-hover;
                    }
                }
            }
        }

        .ol-hidden {
            display: none;
        }
    }

    .element-data {
        position: fixed;
        bottom: 0;
        left: 10px;
        width: 300px;
        background: $white;
        max-height: 0;
        overflow: auto;
        @include box-sizing(border-box);
        @include box-shadow(0px 0px 50px rgba(0, 0, 0, 0.25));
        @include transition(all 0.5s ease-out);
        &.is-show {
            max-height: 75vh;
        }
        h2 {
            font-size: 18px;
            padding: 10px 20px;
            margin: 0;
            @include box-sizing(border-box);
            background: $second;
            color: $white;
            font-weight: 100;
        }
        h3 {
            font-size: 14px;
            padding: 5px 20px;
            margin: 1px 0 0;
            @include box-sizing(border-box);
            background: $second;
            color: $white;
            font-weight: 100;
        }
        .content {
            padding: 10px 20px;
            font-size: 14px;
            line-height: 1.5;
            p {
                margin: 5px 0;
            }
            .element-data-address {
                text-align: right;
            }
            .element-data-description {
                padding: 10px;
            }
        }
        .btn-down {
            position: absolute;
            top: 0;
            right: 0;
            width: 41px;
            height: 41px;
            border: none;
            background: $second;
            color: $white;
            cursor: pointer;
            &:hover {
                background: $second-hover;
            }
        }
        .btn-up {
            position: fixed;
            bottom: 10px;
            left: 10px;
            width: 32px;
            height: 32px;
            border: none;
            background: $second;
            color: $white;
            cursor: pointer;
            @include border-radius(50%);
            @include box-shadow(0px 0px 50px rgba(0, 0, 0, 0.25));
            &:hover {
                background: $second-hover;
            }
        }
        .element-geometry-list {
            padding: 0;
            margin: 0;
            li {
                padding: 0;
            }
            .element-geometry-item {
                background: none;
                border: none;
                line-height: 1;
                font-size: 12px;
                text-decoration: underline;
                cursor: pointer;
                text-align: left;
            }
        }
    }

    .btn-come-back {
        position: absolute;
        background-color: $second;
        top: 10px;
        left: 10px;
        cursor: pointer;
        color: $white;
        display: block;
        height: 32px;
        padding: 3px 12px;
        @include box-shadow(0 0 10px rgba(0, 0, 0, 0.1));
        @include border-radius(16px);
        &:hover {
            background: $second-hover;
        }
        i {
            color: $white;
            font-size: 10px;
            margin: 0 8px 0 0;
            cursor: pointer;
            vertical-align: middle;
            line-height: 1;
        }
        label {
            color: $white;
            cursor: pointer;
            font-size: 12px;
            line-height: 1;
            vertical-align: middle;
            margin: -4px 0 0 0;
        }
    }
}

.manager-geom-data-container {
    .geom-data {
        height: calc(100vh - 56px);
        .geom-data-list {
            height: calc(100vh - 56px);
        }
        #map {
            height: calc(100vh - 56px);
        }
    }
}

.open-data {
    h1 {
        margin: 20px 0;
    }
    h2 {
        margin: 20px 0 20px;
        font-size: 16px;
        font-weight: 700;
        color: $second;
    }
    .row {
        &:hover {
            & > .col {
                background: $gray-200;
            }
        }
        &.header {
            .col {
                background: $second;
                color: $white;
                vertical-align: middle;
                padding: 20px 10px;
            }
            .col-sm {
                background: $gray-300;
                vertical-align: middle;
                padding: 10px 5px;
            }
        }
        .col {
            @include transition(all 0.5s ease-out);
            padding: 10px;
            border: 1px solid $second;
            margin: -1px 0 0 -1px;
            position: relative;
            p {
                margin: 0;
                line-height: 1.5;
            }
        }
        .col-sm {
            padding: 5px;
            border: 1px solid $gray-300;
            margin: -1px 0 0 -1px;
            position: relative;
            p {
                margin: 0;
                line-height: 1;
            }
        }
        .col-data {
            padding: 20px;
        }
    }
    .btn-info {
        background: none;
        color: $second;
        font-size: 14px;
        text-decoration: underline;
        border: none;
        position: absolute;
        bottom: 5px;
        right: 5px;
        cursor: pointer;
    }
    .element-data-container {
        padding-bottom: 20px;
    }
    .alert {
        margin: 40px 0;
    }

}

.include-list {
    .checkbox {
        display: inline-block;
        width: 50%;
        margin: 0 -4px 20px 0;
    }
    .checkbox-awesome {
        width: 64px;
        height: 32px;
        background: $gray-300;
        display: inline-block;
        vertical-align: middle;
        margin: 0 16px 0 0;
        position: relative;
        cursor: pointer;
        @include box-shadow(inset 2px 2px 10px 0px rgba(0,0,0,0.1));
        @include transition(background 0.5s ease-out);
        &:after {
            content: "";
            width: 28px;
            height: 28px;
            background: $white;
            position: absolute;
            top: 2px;
            left: 2px;
            @include transition(left 0.5s ease-out);
            @include box-shadow(2px 2px 4px 0px rgba(0,0,0,0.1));
        }
        &:hover {
            background: $gray-200;
        }
    }
    .checked {
        .checkbox-awesome {
            background: $green;
            &:after {
                left: auto;
                right: 2px;
            }
            &:hover {
                background: $light-green;
            }
        }
    }
}